body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

button {
    background: tomato;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.container1 {
    width: 50%;
    padding-left: 2%;
}

.container1 img {
    width: 80%;
}

.link1 {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 5px;
}

.section1 {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.section2nd {
    padding-right: 10%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}